@import 'tailwindcss';

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #000000;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  overflow-x: hidden;
}

.bgI {
  background-image: url(assets/fon/bg.svg);
  background-position: top;
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 100vh;
}

.header {
  background: url(assets/fon/head_1.png) no-repeat;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 100vh;
}

.bar {
  background: url('assets/BarPage/BG.svg') no-repeat;
  background-size: cover;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 100vh;
}

.container {
  max-width: 1920px;
  width: 100%;
  margin-right: auto;
  margin-left: auto;
}

.footer-container {
  max-width: 1920px;
  margin: 0 auto;
  padding-top: 48px;
  position: relative;
}

.footer-logo-container {
  padding-top: 61px;
  padding-bottom: 57px;
}

.footer-logo {
  width: 100%;
  height: auto;
  max-width: 380px;
  margin: 0 auto;
  display: block;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
.sctoll-to-top-btn {
  position: fixed;
  bottom: 70px;
  right: 2vw;
  z-index: 50;
  width: 48px;
  height: 48px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  border: 1px solid white;
  transition: all 0.5s cubic-bezier(0.165, 0.84, 0.44, 1);
  cursor: pointer;
  opacity: 0;
  transform: translateX(40px) scale(0.9);
  box-shadow: none;
}

.sctoll-to-top-btn.showed {
  opacity: 1;
  transform: translateY(0) scale(1);
  box-shadow: 0 4px 20px rgba(110, 255, 36, 0.3);
}

.sctoll-to-top-btn:hover {
  transform: scale(1.1);
  box-shadow: 0 6px 25px rgba(110, 255, 36, 0.5);
}

@media (max-width: 768px) {
  .sctoll-to-top-btn {
    bottom: 20px;
    right: 20px;
    width: 44px;
    height: 44px;
  }
}
